@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!-- <h1>@ViewData["Title"]</h1> -->

<div class="row justify-content-center">
    <div class="col-md-8">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <!-- TITLE SECTION -->
            <h2>Add a New Employee</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Account info section -->
            <div class="container">
                <h3>Account info</h3>
                <hr />
                <div class="form-group row mt-3">
                    <label asp-for="Input.FirstName" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="username"
                            aria-required="true" placeholder="Enter first name"/>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label asp-for="Input.LastName" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="username"
                            aria-required="true" placeholder="Enter last name" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label asp-for="Input.Email" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                            placeholder="Enter email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password"
                            aria-required="true" placeholder="Enter password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="confirm-password" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control"
                            autocomplete="new-password" aria-required="true"
                            placeholder="Enter confirmed password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <!-- JOB INFO SECTION -->
            <div class="container">
                <h3>Job Info</h3>
                <hr />
                <div class="form-group row mt-3">
                    <label asp-for="Input.EmployeeNumber" class="col-sm-3 col-form-label">Employee Number</label>
                    <div class="col-sm-9">
                        <input asp-for="Input.EmployeeNumber" class="form-control" autocomplete="off"
                            aria-required="true" placeholder="Enter employee number" />
                        <span asp-validation-for="Input.EmployeeNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label asp-for="Input.JobTitle" class="col-sm-3 col-form-label">Job Title</label>
                    <div class="col-sm-9">
                        <input asp-for="Input.JobTitle" class="form-control" autocomplete="off" aria-required="true"
                            placeholder="Enter job title" />
                        <span asp-validation-for="Input.JobTitle" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group row mt-3">
                    <label asp-for="Input.LabourGrade" class="col-sm-3 col-form-label">Labour Grade</label>
                    <div class="col-sm-9">
                        <select asp-for="Input.LabourGrade" asp-items="ViewBag.LabourGrades" class="form-select"
                            aria-label="Default select example">
                        </select>
                        <span asp-validation-for="Input.LabourGrade" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label asp-for="Input.Supervisor" class="col-sm-3 col-form-label">Supervisor</label>
                    <div class="col-sm-9">
                        <select asp-for="Input.Supervisor" asp-items="ViewBag.Supervisors" class="form-select"
                            aria-label="Default select example">
                        </select>
                        <span asp-validation-for="Input.Supervisor" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <br />
            <!-- ROLE INFO SECTION -->
            <div class="container">
                <h3>Role Info</h3>
                <hr />
                <div class="form-group mt-3">
                    <label>Select Roles:</label>
                    <div>
                        @foreach (var role in Model.rolesList)
                        {
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="@role" name="Input.AreTypes" id="role_@role">
                                <label class="form-check-label" for="role_@role">
                                    @role
                                </label>
                            </div>
                        }
                    </div>
                </div>

                <hr />

                <!-- BUTTON SECTION -->
                <!-- MAYBE CHANGE COLOR DEPEDNINGON THEME OF SYSTEM -->
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary px-4 py-3">Create
                    Account</button>

                <div />
        </form>
    </div>
</div>

@section Scripts {
                                                                                        <partial name="_ValidationScriptsPartial" />
}