@page
@model TimesheetApp.Areas.Identity.Pages.Account.SetPassword
@{
    ViewData["Title"] = "Set Your Passwords";
}

<h1 class="text-center margin-bottom-20">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group mt-1">
                <label asp-for="Input!.Password"><strong class="text-label">New Password</strong></label>
                
                <div class="input-group mb-4">
                    <input asp-for="Input!.Password" class="form-control py-3" autocomplete="new-password"
                           aria-required="true" placeholder="Enter your new password"/>
                </div>
                
                <span asp-validation-for="Input!.Password" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-1">
                <label asp-for="Input!.ConfirmPassword"><strong class="text-label">Confirm New Password</strong></label>
                
                <div class="input-group mb-4">
                    <input asp-for="Input!.ConfirmPassword" class="form-control py-3" autocomplete="new-password"
                           aria-required="true" placeholder="Confirm your new password"/>
                </div>

                <span asp-validation-for="Input!.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-1">
                <label asp-for="Input!.SignaturePassword">
                    <strong class="text-label">Signature Password</strong>
                </label>
                
                <div class="input-group mb-4">
                    <input asp-for="Input!.SignaturePassword" class="form-control py-3" autocomplete="new-password" 
                           aria-required="true" placeholder="Enter your signature password"/>
                </div>
                <span asp-validation-for="Input!.SignaturePassword" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-1">
                <label asp-for="Input!.SignatureConfirmPassword">
                    <strong class="text-label">Confirm Signature Password</strong>
                </label>
                
                <div class="input-group mb-4">
                    <input asp-for="Input!.SignatureConfirmPassword" class="form-control py-3" autocomplete="new-password"
                            aria-required="true" placeholder="Confirm your signature password"/>
                </div>
                
                <span asp-validation-for="Input!.SignatureConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Confirm Passwords</button>

        </form>
    </div>
</div>